.calendar-container {
  background-color: rgba(255, 247.52001017332077, 221.00000202655792, 1);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.mainCalendar {
  background-color: rgba(255, 247.52001017332077, 221.00000202655792, 1);
  width: 85vw;
  height: 35vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.calendar-header {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.goTo {
  width: 33.3vw;
  height: 10vh;
  display: flex;
  justify-content: right;
  align-items: center;
  margin-right: 2vw;
}
.monthMove {
  width: 33.3vw;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.yearsMonth {
  width: 100%;
  height: 10vh;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendar-header button {
  width: 13vw;
  height: 13vw;
  border: none;
  border-radius: 10px;
  background-color: rgba(255, 229.52130317687988, 139.18750405311584, 1);
  font-size: 15px;
  font-weight: bold;
}

.monthMove button {
  margin-left: 2vw;
}

.calendar {
  border-collapse: collapse;
  width: 100%;
  height: 90vh;
}

.calendar th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.calendar td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: right;
  vertical-align: top;
}

.current-day {
  background-color: rgba(255, 229.52130317687988, 139.18750405311584, 1);;
}

.selected-date {
  outline: 2px solid orange; /* 선택된 날짜의 테두리 색상 */
  outline-offset: -1px;
}

.not-current-month {
  color: #ccc; /* 흐릿한 색상 */
}
