.container {
  background-color: rgba(255, 247.52001017332077, 221.00000202655792, 1);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.userRender {
  background-color: rgba(255, 229.52130317687988, 139.18750405311584, 1);
  width: 85vw;
  height: 10vh;
  display: flex;
  align-items: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.petRender {
  background-color: rgba(255, 229.52130317687988, 139.18750405311584, 1);
  width: 85vw;
  height: 10vh;
  display: flex;
  align-items: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-top: 2vh;
}
.hospital_walk {
  background-color: rgba(255, 229.52130317687988, 139.18750405311584, 1);
  width: 85vw;
  height: 30vh;
  display: flex;
	justify-content: space-evenly;
  align-items: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-top: 2vh;
}
.mainCalendar {
  background-color: rgba(255, 229.52130317687988, 139.18750405311584, 1);
  width: 85vw;
  height: 35vh;
  display: flex;
	justify-content: center;
  align-items: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-top: 2vh;
}
.hospital {
  background-color: rgba(255, 255, 255, 1);
  width: 150px;
  height: 150px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.walk {
  background-color: rgba(255, 255, 255, 1);
  width: 150px;
  height: 150px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.userProfile {
  border-radius: 500px;
  background-color: rgba(255, 248.0000004172325, 221.00000202655792, 1);
  width: 70px;
  height: 70px;
	margin-left: 4vw;
}

.plusPetBtn {
  background-color: rgba(255, 248.0000004172325, 221.00000202655792, 1);
  width: 50px;
  height: 50px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
	margin-left: 4vw;
}

.plusBtn {
  width: 50px;
  height: 50px;
  font-family: Inter;
  text-align: center;
  font-size: 30px;
  background: transparent;
  border: none;
}

.hospitalBtn {
  width: 150px;
  height: 150px;
  font-family: Inter;
  text-align: center;
  font-size: 30px;
  background: transparent;
  border: none;
}
.walkBtn {
  width: 150px;
  height: 150px;
  font-family: Inter;
  text-align: center;
  font-size: 30px;
  background: transparent;
  border: none;
}

.calendarMain {
  font-family: Inter;
  text-align: center;
  font-size: 30px;
}
