.container {
  background-color: rgba(255, 247.52001017332077, 221.00000202655792, 1);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.petName {
  background-color: rgba(255, 229.52130317687988, 139.18750405311584, 1);
  width: 75vw;
  height: 5vh;
  display: flex;
  align-items: center;
  position: relative;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  margin-top: 2vh;
}
.petNameInput {
  width: 65vw;
  height: 5vh;
  font-family: Inter;
  font-size: 15px;
  background-color: transparent;
  border: none;
  text-indent: 60px;
}
.placeholderName {
  position: absolute;
  top: 10;
  left: 20px;
  pointer-events: none;
  color: #000; /* 힌트의 색상 */
}
.petNameInput:focus + .placeholderName {
  display: none;
}

.petEmogi {
  background-color: rgba(255, 229.52130317687988, 139.18750405311584, 1);
  width: 75vw;
  height: 5vh;
  display: flex;
  align-items: center;
  position: relative;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}
.petEmogiSelect {
  width: 70vw;
  height: 5vh;
  font-family: Inter;
  font-size: 15px;
  background-color: transparent;
  border: none;
  text-indent: 55px;
}
.placeholderEmogi {
  position: absolute;
  top: 10;
  left: 20px;
  pointer-events: none;
  color: #000; /* 힌트의 색상 */
}

.petGender {
  background-color: rgba(255, 229.52130317687988, 139.18750405311584, 1);
  width: 75vw;
  height: 5vh;
  display: flex;
  align-items: center;
  position: relative;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  margin-top: 2vh;
}
.petGenderSelect {
  width: 70vw;
  height: 5vh;
  font-family: Inter;
  font-size: 15px;
  background-color: transparent;
  border: none;
  text-indent: 55px;
}
.placeholderGender {
  position: absolute;
  top: 10;
  left: 20px;
  pointer-events: none;
  color: #000; /* 힌트의 색상 */
}
.petGenderSelect:focus + .placeholderGender {
  display: none;
}

.petType {
  background-color: rgba(255, 229.52130317687988, 139.18750405311584, 1);
  width: 75vw;
  height: 5vh;
  display: flex;
  align-items: center;
  position: relative;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  margin-top: 2vh;
}
.petTypeInput {
  width: 65vw;
  height: 5vh;
  font-family: Inter;
  font-size: 15px;
  background-color: transparent;
  border: none;
  text-indent: 110px;
}
.placeholderType {
  position: absolute;
  top: 10;
  left: 20px;
  pointer-events: none;
  color: #000; /* 힌트의 색상 */
}
.petTypeInput:focus + .placeholderType {
  display: none;
}

.petNeutered {
  background-color: rgba(255, 229.52130317687988, 139.18750405311584, 1);
  width: 75vw;
  height: 5vh;
  display: flex;
  align-items: center;
  position: relative;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  margin-top: 2vh;
}
.petNeuteredSelect {
  width: 70vw;
  height: 5vh;
  font-family: Inter;
  font-size: 15px;
  background-color: transparent;
  border: none;
  text-indent: 110px;
}
.placeholderNeutered {
  position: absolute;
  top: 10;
  left: 20px;
  pointer-events: none;
  color: #000; /* 힌트의 색상 */
}
.petNeuteredSelect:focus + .placeholderNeutered {
  display: none;
}

.petWeight {
  background-color: rgba(255, 229.52130317687988, 139.18750405311584, 1);
  width: 75vw;
  height: 5vh;
  display: flex;
  align-items: center;
  position: relative;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  margin-top: 2vh;
}
.petWeightInput {
  width: 65vw;
  height: 5vh;
  font-family: Inter;
  font-size: 15px;
  background-color: transparent;
  border: none;
  text-indent: 75px;
}
.placeholderWeight {
  position: absolute;
  top: 10;
  left: 20px;
  pointer-events: none;
  color: #000; /* 힌트의 색상 */
}
.petWeightInput:focus + .placeholderWeight {
  display: none;
}

.petBirth {
  background-color: rgba(255, 229.52130317687988, 139.18750405311584, 1);
  width: 75vw;
  height: 5vh;
  display: flex;
  align-items: center;
  position: relative;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  margin-top: 2vh;
}
.petBirthInput {
  width: 65vw;
  height: 5vh;
  font-family: Inter;
  font-size: 15px;
  background-color: transparent;
  border: none;
  text-indent: 30px;
}
.placeholderBirth {
  position: absolute;
  top: 10;
  left: 20px;
  pointer-events: none;
  color: #000; /* 힌트의 색상 */
}
.petBirthInput:focus + .placeholderBirth {
  display: none;
}

.petBlood {
  background-color: rgba(255, 229.52130317687988, 139.18750405311584, 1);
  width: 75vw;
  height: 5vh;
  display: flex;
  align-items: center;
  position: relative;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  margin-top: 2vh;
}
.petBloodSelect {
  width: 70vw;
  height: 5vh;
  font-family: Inter;
  font-size: 15px;
  background-color: transparent;
  border: none;
  text-indent: 70px;
}
.placeholderBlood {
  position: absolute;
  top: 10;
  left: 20px;
  pointer-events: none;
  color: #000; /* 힌트의 색상 */
}
.petBloodSelect:focus + .placeholderBlood {
  display: none;
}

.petInfoButton {
  margin-top: 2vh;
}
.petInfoBtn {
  background-color: rgba(255, 229.52130317687988, 139.18750405311584, 1);
  width: 130px;
  height: 50px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  margin-top: 4vh;
  margin-left: 45vw;
  border: none;
}

.petInfoTitle {
  width: 260px;
  height: 70px;
  font-family: Inter;
  text-align: center;
  font-size: 30px;
}